<!-- 
Styles
-->
<style>
  a:link, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .container-fluid {
    margin: 0 !important;
    background-color: rgb(114, 196, 143);  
  }
  
  .container-fluid > h1 {
    padding: 10%;
    color: white;
  }

  .src-code {
    width: 4%;
    height: 2%;
    left: 50%;
  }

</style>

<div class="container-fluid">
  <h1 class="text-center">
    Documentation for <b>BakUna API</b>
  </h1>

  <a href="https://replit.com/@JamEmmanuelArev/BakUnaAPI" class="row text-center">
    <span class="material-icons-outlined" style="font-family: 'Material Icons';">
    code
    </span>
    <p>Source Code</p>
  </a>
</div>